<div class="form-group mt-5" >
            <label for="ittMontantAPayer">montant a payer</label>
            <input [(ngModel)]="MontantAPayer" type="text" class="form-control" id="ittMontantAPayer">
          </div>  
<div class="form-group " >
            <label for="ittMontantDonne">montant Donné</label>
            <input [(ngModel)]="MontantDonnee" type="text" class="form-control" id="ittMontantDonne">
          </div> 
          <button (click)="btnClick()" class="btn btn-primary">Calculer</button>
  
<h5>50 = {{nbPiece50}}</h5>
<h5>20 = {{nbPiece20}}</h5>
<h5>10 = {{nbPiece10}}</h5>
<h5>5 = {{nbPiece5}}</h5>
<h5>1 = {{nbPiece1}}</h5>